<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.serviceconsumer.mapper.SuccessProductMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.ryx.serviceconsumer.entity.pojo.SuccessProduct">
		<!---->
		<id column="id" property="id"  />
		<!---->
		<result column="name" property="name"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 `id`,`name`
	</sql>

	<sql id="base_condition_filed">
			<if test="id != null">
				 and  `id` = #{id}
			</if>
			<if test="name != null and name !=''">
				 and  `name` = #{name}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where> <include refid="base_condition_filed" />	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="nameFuzzy != null  and nameFuzzy != ''">
				 and  `name` like concat('%', #{nameFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM `success_product` <include refid="query_condition" />
		 <if test="orderBy!=null">
			 order by ${orderBy}
		 </if>
		 <if test="page!=null">
			 limit #{page.start},#{page.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM `success_product` <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.ryx.serviceconsumer.entity.pojo.SuccessProduct">
		 INSERT INTO `success_product`
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 `id`,
			</if>
			<if test="name != null">
				 `name`,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
		 </trim>
	</insert>

	<!-- 插入 （根据表名称插入）-->
	<insert id="insertWidthTableName" parameterType="com.ryx.serviceconsumer.entity.pojo.SuccessProduct">
		 INSERT INTO `${tableName}`(`id`,`name`)values(
			 #{bean.id},#{bean.name})
		ON DUPLICATE KEY UPDATE 
		`id` = values(`id`),`name` = values(`name`)
	</insert>

	<!-- 添加 （批量插入）-->
		<insert id="insertBatch" parameterType="com.ryx.serviceconsumer.entity.pojo.SuccessProduct">
		 INSERT INTO `success_product`(`id`,`name`)values
			 <foreach collection="list" item="item" separator=",">
			 (
			 #{item.id},#{item.name}
			 )
			 </foreach>
		ON DUPLICATE KEY UPDATE 
		`id` = values(`id`),`name` = values(`name`)
		</insert>

	<!-- 根据PrimaryKey修 改-->
	<update id="updateByPrimaryKey" parameterType="com.ryx.serviceconsumer.entity.pojo.SuccessProduct">
		 UPDATE `success_product`
 		 <set> 
			<if test="bean.name != null">
				 `name` = #{bean.name},
			</if>
 		 </set>
 		 where `id`=#{id}
	</update>

	<!-- 根据PrimaryKey删除-->
	<delete id="deleteByPrimaryKey">
		delete from `success_product` where `id`=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByPrimaryKey" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from `success_product` where `id`=#{id}
	</select>

</mapper>