<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.serviceprodect.mapper.RyxProductMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.ryx.serviceinterface.pojo.RyxProduct">
		<!--产品主键id-->
		<id column="id" property="id"  />
		<!--名称-->
		<result column="name" property="name"  />
		<!--价格（分）-->
		<result column="price" property="price"  />
		<!---->
		<result column="createTime" property="createTime"  />
		<!---->
		<result column="updateTime" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 `id`,`name`,`price`,`createTime`,`updateTime`
	</sql>

	<sql id="base_condition_filed">
			<if test="id != null">
				 and  `id` = #{id}
			</if>
			<if test="name != null and name !=''">
				 and  `name` = #{name}
			</if>
			<if test="price != null">
				 and  `price` = #{price}
			</if>
			<if test="createTime != null">
				 and  `createTime` = #{createTime}
			</if>
			<if test="updateTime != null">
				 and  `updateTime` = #{updateTime}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where> <include refid="base_condition_filed" />	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="nameFuzzy != null  and nameFuzzy != ''">
				 and  `name` like concat('%', #{nameFuzzy}, '%')
			</if>
			<if test="createTimeStart != null and createTimeStart !='' ">
				 <![CDATA[ and  `createTime`>=str_to_date('${createTimeStart}', '%Y-%m-%d') ]]>
			</if>
			<if test="createTimeEnd!= null and createTimeEnd!=''">
				 <![CDATA[ and  `createTime`< date_sub(str_to_date('${createTimeEnd}','%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="updateTimeStart != null and updateTimeStart !='' ">
				 <![CDATA[ and  `updateTime`>=str_to_date('${updateTimeStart}', '%Y-%m-%d') ]]>
			</if>
			<if test="updateTimeEnd!= null and updateTimeEnd!=''">
				 <![CDATA[ and  `updateTime`< date_sub(str_to_date('${updateTimeEnd}','%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM `ryx_product` <include refid="query_condition" />
		 <if test="orderBy!=null">
			 order by ${orderBy}
		 </if>
		 <if test="page!=null">
			 limit #{page.start},#{page.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM `ryx_product` <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.ryx.serviceinterface.pojo.RyxProduct">
		<selectKey keyProperty="id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO `ryx_product`
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="name != null">
				 `name`,
			</if>
			<if test="price != null">
				 `price`,
			</if>
			<if test="createTime != null">
				 `createTime`,
			</if>
			<if test="updateTime != null">
				 `updateTime`,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="name!=null">
				 #{name},
			</if>
			<if test="price!=null">
				 #{price},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入 （根据表名称插入）-->
	<insert id="insertWidthTableName" parameterType="com.ryx.serviceinterface.pojo.RyxProduct">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO `${tableName}`(`name`,`price`,`createTime`,`updateTime`)values(
			 #{bean.name},#{bean.price},#{bean.createTime},#{bean.updateTime})
		ON DUPLICATE KEY UPDATE 
		`name` = values(`name`),`price` = values(`price`),`createTime` = values(`createTime`),`updateTime` = values(`updateTime`)
	</insert>

	<!-- 添加 （批量插入）-->
		<insert id="insertBatch" parameterType="com.ryx.serviceinterface.pojo.RyxProduct">
		 INSERT INTO `ryx_product`(`name`,`price`,`createTime`,`updateTime`)values
			 <foreach collection="list" item="item" separator=",">
			 (
			 #{item.name},#{item.price},#{item.createTime},#{item.updateTime}
			 )
			 </foreach>
		ON DUPLICATE KEY UPDATE 
		`name` = values(`name`),`price` = values(`price`),`createTime` = values(`createTime`),`updateTime` = values(`updateTime`)
		</insert>

	<!-- 根据PrimaryKey修 改-->
	<update id="updateByPrimaryKey" parameterType="com.ryx.serviceinterface.pojo.RyxProduct">
		 UPDATE `ryx_product`
 		 <set> 
			<if test="bean.name != null">
				 `name` = #{bean.name},
			</if>
			<if test="bean.price != null">
				 `price` = #{bean.price},
			</if>
			<if test="bean.createTime != null">
				 `createTime` = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 `updateTime` = #{bean.updateTime},
			</if>
 		 </set>
 		 where `id`=#{id}
	</update>

	<!-- 根据PrimaryKey删除-->
	<delete id="deleteByPrimaryKey">
		delete from `ryx_product` where `id`=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByPrimaryKey" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from `ryx_product` where `id`=#{id}
	</select>

</mapper>